.grid-container {
        
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: white;
    padding: 5px;
    height: 100%;
  }
  .grid-item1{
  
      background-color: royalblue;
      display: grid;
  }
  .grid-item{
  
  background-color: lightgrey;
  display: grid;
  }
  h1, h3{
      color: white;
      font-weight: bolder;
      margin-top: 25%;
  }
  span{
      color: black;
      font-weight: bolder;
  }
  p{
      color: white;
      
  }
  li{
      color: white;
      
  }
  .bdy{
      margin-left: 20%;
  }
  .dd{
      margin-left: 25%;
      margin-top: 10%;
  }
  #pp{
      color: black;
  }
  #show{
      color: black;
      font-size: xx-large;
  }
  #show1,#show3{
      color: black;
      font-size: medium;
  }
  #show2{
      color: black;
      font-size: xx-large;
  }
  #tt{
      margin-left: 20%;
      margin-top: 20%;
  }
     
body{
    height: 100vh;
    background: rebeccapurple;
    margin: 0;
    padding: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app-wrap {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.search-box{
    padding: 13px;
    border: none;
    border-bottom: orange 3px solid;
    background: rgb(169, 110, 228);
    outline: none;
    border-radius:  20px 0 20px 0;
    width: 250px;
}
.temp>span{
    font-size: 80pt;
    color: #fff;
    text-shadow: 0 10px 1px black;
}
.location{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 15vh;
}
.current{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
}
.hi-low, .weather{
    font-size: xx-large;
    text-shadow: 0 5px 4px black;
}
.city{
    font-size: xx-large;
}
.date{
    font-size: larger;
}